#total{
    display: flex;
    justify-content: center;
}

.grand{
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 50px 0px 50px;
}

#carreG{
    width: 100px;
    height: 100px;
    background-color: red;
}

#carreD{
    width: 100px;
    height: 100px;
    background-color: red;
}

#btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}